<% provide :title, t("static_pages.home.title") %>

<div class="center">
  <% unless user_signed_in? %>
    <%= link_to t("static_pages.home.signupnow"), new_user_registration_path,
      class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
