<% provide :title, t("admin.categories.allcategories") %>
<h1><%= t "admin.categories.allcategories" %></h1>

<div class="center">
  <%= link_to t("admin.categories.newcategory"), new_admin_category_path,
    class: "btn btn-primary btn-lg" %>
</div>
<div id="all_categories">
  <%= render "all_categories" %>
</div>
