<% provide :title, @category.name %>
<h1><%= @category.name %></h1>

<ul class="products">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <%= render "shared/show_product", product: product %>
    <% end %>
    <%= will_paginate @products %>
  <% end %>
</ul>
