<% provide :title, t(:allproduct) %>
<h1><%= t :allproduct %></h1>
<table>
  <% @products.each do |product| %>
    <tr>
      <%= render "shared/show_product", product: product %>
    </tr>
  <% end %>
</table>
<%= will_paginate @products %>
